table {
    width: 80%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: green;
  }